<h1 mat-dialog-title>Edit Product Details</h1>
<div mat-dialog-content>
  <form [formGroup]="productForm">
    <mat-form-field appearance="outline">
      <mat-label>Product Name</mat-label>
      <input
        formControlName="productName"
        matInput
        placeholder="hp laptop pavilion"
      />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label> ProductShortCode </mat-label>
      <input
        formControlName="productShortCode"
        matInput
        placeholder="hp-lap-pav"
      />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label> Category </mat-label>
      <mat-select formControlName="category" placeholder="Category">
        <mat-option value="Electronic">Electronic</mat-option>
        <mat-option value="Fruits">Fruits</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label> Price </mat-label>
      <input
        formControlName="price"
        matInput
        placeholder="1000$"
        type="number"
      />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label> Count</mat-label>
      <input formControlName="count" matInput placeholder="" type="number" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label> Description </mat-label>
      <input
        formControlName="description"
        matInput
        placeholder="Very fresh product..."
      />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label> Image URL </mat-label>
      <input formControlName="imageUrl" matInput placeholder="" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <input
        formControlName="createdDate"
        matInput
        [matDatepicker]="myDatepicker"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="myDatepicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #myDatepicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label> Origin </mat-label>
      <mat-select formControlName="origin" placeholder="Origin">
        <mat-option value="Canada">Canada</mat-option>
        <mat-option value="India">India</mat-option>
        <mat-option value="Bangladesh">Bangladesh</mat-option>
      </mat-select>
    </mat-form-field>

    <label for=""><h4>Is best Achieved</h4></label>
    <mat-radio-group
      formControlName="isBestAchived"
      class="example-radio-group"
    >
      <mat-radio-button
        class="example-radio-button"
        *ngFor="let option of optionList"
        [value]="option"
        >{{ option }}</mat-radio-button
      >
    </mat-radio-group>
  </form>
</div>

<div mat-dialog-action [align]="'end'">
  <button mat-raised-button color="warn" mat-dialog-close>Close</button>
  <button
    style="margin-left: 5px"
    mat-raised-button
    color="primary"
    (click)="CreateOrEditProduct()"
  >
    {{ ActionButtonName }}
  </button>
</div>
