img {
  height: 50px;
  width: 100px;
}
.container {
  display: flex;
  width: 100%;
  justify-content: center;
}
.item {
    margin-left: 30px;
    text-decoration: none;
    color: rgb(97, 120, 131);
    font-weight: 200;
}
.green-color {
  color:green;
}